#lessonContent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.fullCard{
  display:inherit;
  width: 90%;
  margin-bottom: 1em;
  margin-right: 0;
  height: 90vh;
}

.mat-slider { 
  width: 100% !important;
  height: 1em;
}