.show {
  display: block !important;
}

.questionCard {
  width: 90%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

#answerButton {
  margin-right: 1em;
  margin-bottom: 1em;
}

#question{
  padding-bottom: 1em;
}

#questionnaireTitle {
  display: block;
  text-align: center;
}