<div class="cardContainer">
  <mat-card class="halfCard" >
      <mat-card-header>
        <mat-card-title>Poll: </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="pollModel">
        <h3>{{pollModel.title}}</h3>
        <p *ngFor="let question of pollModel.questions">{{question.question}}: {{question.percentage}}&#37;</p>
        <mat-button-toggle-group #group="matButtonToggleGroup" >
          <mat-button-toggle color="primary" *ngFor="let poll of polls; let i = index;" (click)="createPollModel(i)" value="{{i}}" [checked]="i === 0">
            {{i}}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mat-card-content>
  </mat-card>


  <mat-card class="halfCard" >
      <mat-card-header>
        <mat-card-title>Questionnaire:</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="questionnaireModel">
<!--        ToDO FIX THIS-->
        <h3>{{questionnaireModel.title}}</h3>
        <p *ngFor="let question of questionnaireModel.questions">{{question.question}}: {{question.percentage}}&#37;</p>
        <mat-button-toggle-group #group="matButtonToggleGroup" >
          <mat-button-toggle color="primary" *ngFor="let questionnaire of questionnairs; let i = index;" (click)="createQuestionnaireModel(i)" value="{{i}}" [checked]="i === 0">
            {{i}}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mat-card-content>

  </mat-card>



  <mat-card class="halfCard">
      <mat-card-header>
        <mat-card-title>Lesson Objectives</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="lesson">
        <p *ngFor="let ob of lesson.lessonObjectives; let i = index"> {{i}}. {{ob.title}} </p>
      </mat-card-content>
  </mat-card>


  <mat-card class="halfCard">
    <mat-card-title>Lesson Average</mat-card-title>
    <mat-card-content>
      <div id="averageLessonBox"  class="averageBox" [style.backgroundColor]="averageLessonColour">
        <p>{{averageLessonScore}}&#37;</p>

      </div>
      <br/>
      <mat-card-title>Student Confidence</mat-card-title>
      <div id="studentConfidenceBox" class="averageBox" [style.backgroundColor]="studentConfidenceColour">
        <p>{{studentConfidenceScore}}&#37;</p>

      </div>
    </mat-card-content>
</mat-card>  
  
  <mat-card class="halfCard">
      <mat-card-header>
        <mat-card-title>Student data</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="lesson">
        <div *ngFor="let access of lesson.access">
          <div *ngFor="let tc  of teachingClasses">
            <div *ngIf="tc.name == access">
              <app-student-review  *ngFor="let student of tc.students" access="{{access}}" lessonId="{{lessonId}}" userName="{{student}}"></app-student-review>
            </div>
          </div>
        </div>
      </mat-card-content>
</mat-card>
</div>