.halfCard{
  width: 43%;
/*  display: flex;*/
  margin-top: 1em;
  margin-right: 1em;
  min-width: 20em;

}

#averageLessonBox {
  width: 70%;
  text-align: center;
  font-size: 2em;
  color: white;
/*  background-color: green;*/
  padding: 0.1em;
  margin: auto;
}