<h1 *ngIf="lesson">{{lesson.title}}</h1>

<section id="slides" >
  <mat-card id="polls" class="chatCard" *ngIf="slideURL" >
    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <iframe class="slideshow" [src]="slideURL" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </mat-card-content>
  </mat-card>
<section id="interactionContainer">
  <mat-card id="polls" class="presentHalf" *ngIf="lesson">
    <mat-card-header>
      <mat-card-title>Polls</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="poll presentData"  *ngFor="let poll of lesson.polls">
        <h4>{{poll.title}}</h4>
        <mat-slide-toggle (click)="activatePoll(poll.id)" color="primary" [checked]="!poll.hidden">Toggle Poll</mat-slide-toggle>
<!--        <button mat-raised-button (click)="activatePoll(poll.id)" color="primary">Send Poll</button>-->
        <button mat-raised-button routerLink="/poll/{{poll.id}}" color="accent">View Poll</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card id="quizes" class="presentHalf" *ngIf="lesson">
    <mat-card-header>
      <mat-card-title>Quizes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="quiz presentData"  *ngFor="let questionair of lesson.questionairs">
        <h4>{{questionair.title}}</h4>
      <mat-slide-toggle (click)="activateQuiz(questionair.id)" color="primary" [checked]="!questionair.hidden">Toggle Quiz</mat-slide-toggle>
<!--        <button mat-raised-button (click)="activateQuiz(questionair.id)" color="primary">Send Quiz</button>-->
        <button mat-raised-button routerLink="/questionnaire-editor/{{questionair.id}}" color="accent">View Quiz</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="lesson" class="chatCard">
    <app-chat chatid="lesson{{lesson.lessonId}}"></app-chat>
  </mat-card>

</section>
<button mat-raised-button id="endLesson" color="warn" (click)="endLesson()">End Lessson</button>