#interactionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}
.presentHalf {
  width: 40%;
  min-height: 30vh;
  margin: 1em;
}
.presentData {
  display: block;
}
.presentData > h4 {
  display: inline-block;
  width: 45%;
}
.presentData > button {
  display: inline-block;
  width: 20%;
}

.chatCard {
  
  width: 90%;
  height: auto;
  margin-bottom: 1em;
}
#endLesson {
 margin: 1em;
}

.slideshow {
  height: 80vh;
  width: 100%;
}