<h1 *ngIf="lesson">{{lesson.title}}</h1>

<section id="interactionContainer">
  
  <mat-card id="polls" class="presentHalf" *ngIf="lesson">
    <mat-card-header>
      <mat-card-title>Polls</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="poll presentData"  *ngFor="let poll of lesson.polls">
        <h4>{{poll.title}}</h4>
        <button mat-raised-button (click)="sendPoll(poll.id)" color="primary">Send Poll</button>
        <button mat-raised-button routerLink="/poll/{{poll.id}}" color="accent">View Poll</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card id="quizes" class="presentHalf" *ngIf="lesson">
    <mat-card-header>
      <mat-card-title>Quizes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="quiz presentData"  *ngFor="let questionair of lesson.questionairs">
        <h4>{{questionair.title}}</h4>
        <button mat-raised-button (click)="sendQuestionair(questionair.id)" color="primary">Send Quiz</button>
        <button mat-raised-button routerLink="/questionair-results/{{questionair.id}}" color="accent">View Quiz</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="lesson" class="chatCard">
    <app-chat chatid="lesson{{lesson.lessonId}}"></app-chat>
  </mat-card>

</section>