/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
  margin: auto;
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

body {
  margin: auto;
  
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1em;
}