<button mat-raised-button (click)="createLesson()"> New Lesson</button>
<div id="newLesson" *ngIf="newLesson"> </div>

<div id="lessonContainer" class="cardContainer"  *ngIf="lessons">
  
  <mat-card class="one" *ngFor="let lesson of lessons" id="lesson-{{lesson.lessonId}}">
    <div *ngIf="lesson"> 
    <mat-card-header >
      <mat-card-title > <h2>{{lesson.title}} </h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h4>Polls:</h4>
      <div *ngFor="let poll of lesson.polls" id="poll-{{poll.id}}">
        <span>{{poll.title}}:</span> <br>
        <button mat-raised-button routerLink="/poll/{{poll.id}}" *ngIf="poll.title" color="primary"> view </button>
        <button mat-raised-button routerLink="/poll-editor/{{poll.id}}" *ngIf="poll.title" color="accent"> Edit </button> 
        <button mat-raised-button (click)="deletePoll(poll.id)" *ngIf="poll.title"> Delete </button> 
      </div>
      
      <h4>Chats:</h4>
      <div *ngFor="let chat of lesson.chats"> 
        <span>{{chat.title}}:</span> <br>
        <button mat-button routerLink="/chat/{{chat.id}}" *ngIf="chat.title" color="primary"> view </button> 
        <button mat-button routerLink="/chat-editor/{{chat.id}}" *ngIf="chat.title" color="accent"> Edit </button> 
        <button mat-button routerLink="/chat-editor/{{chat.id}}" *ngIf="chat.title"> Delete </button> 
      </div>
      
      <h4>Quizes:</h4>
      <div *ngFor="let quiz of lesson.questionairs"> 
        <span>{{quiz.title}}:</span> <br>
        <button mat-button routerLink="/quiz/{{quiz.id}}" *ngIf="quiz.title" color="primary"> view </button>
        <button mat-button routerLink="/quiz-editor/{{quiz.id}}" *ngIf="quiz.title" color="accent"> Edit </button> 
        <button mat-button routerLink="/quiz-editor/{{quiz.id}}" *ngIf="quiz.title"> Delete </button> 
      </div>
    
    </mat-card-content>
    <mat-card-actions class="buttonContainer">
      <h4>Other</h4>
      <button mat-raised-button routerLink="/lesson/{{lesson.lessonId}}" color="primary">View Lesson</button>
      <button mat-raised-button routerLink="/poll-editor/na" color="accent">Add Poll</button>
      <button mat-raised-button routerLink="/chat-editor/na" color="accent">Add Chat</button>
      <button mat-raised-button routerLink="/questionair-editor/na" color="accent">Add Questionair</button>
      <button mat-raised-button (click)="deleteLesson(lesson.lessonId)">Delete Lesson</button>
    </mat-card-actions>
    </div>
  </mat-card>
  

</div>