<button mat-raised-button routerLink="/lessons/na"> New Lesson</button>
<!--<div id="newLesson" *ngIf="newLesson"> </div>-->

<div id="lessonContainer" class="cardContainer"  *ngIf="lessons">
  
  <mat-card class="one" *ngFor="let lesson of lessons; let i = index " id="lesson-{{lesson.lessonId}}">
    <div *ngIf="lesson"> 
    <mat-card-header >
      <mat-form-field class="fullWidth">
        <input matInput type="text" (keyup.enter)="updateTitle(lesson.lessonId)" [(ngModel)]="lesson.title" placeholder="Lesson Title" name="lessonTitle">    
      </mat-form-field>
<!--      <button mat-button (click)="updateTitle(lesson.lessonId)" > update </button> -->
    </mat-card-header>
    <mat-card-content>
      <h4>Polls:</h4>
      <div *ngFor="let poll of lesson.polls" id="poll-{{poll.id}}">
        <span>{{poll.title}}:</span> <br>
        <button mat-raised-button routerLink="/poll/{{poll.id}}" *ngIf="poll.title" color="primary"> view </button>
        <button mat-raised-button routerLink="/poll-editor/{{poll.id}}" *ngIf="poll.title" color="accent"> Edit </button> 
        <button mat-raised-button (click)="deletePoll(poll.id)" *ngIf="poll.title" color="warn"> Delete </button> 
      </div>
      
<!--
      <h4>Chats:</h4>
      <div *ngFor="let chat of lesson.chats"> 
        <span>{{chat.title}}:</span> <br>
        <button mat-button routerLink="/chat/{{chat.id}}" *ngIf="chat.title" color="primary"> view </button> 
        <button mat-button routerLink="/chat-editor/{{chat.id}}" *ngIf="chat.title" color="accent"> Edit </button> 
        <button mat-button routerLink="/chat-editor/{{chat.id}" *ngIf="chat.title"> Delete </button> 
      </div>
-->
      
      <h4>Quizes:</h4>
      <div *ngFor="let quiz of lesson.questionairs"> 
        <span>{{quiz.title}}:</span> <br>
        <button mat-raised-button routerLink="/questionnaire/{{quiz.id}}" *ngIf="quiz.title" color="primary"> view </button>
        <button mat-raised-button routerLink="/questionnaire-editor/{{quiz.id}}" *ngIf="quiz.title" color="accent"> Edit </button> 
        <button mat-raised-button (click)="deleteQuestionnaire(quiz.id)" *ngIf="quiz.title" color="warn"> Delete </button> 
      </div>
      <br/>
      <mat-form-field class="fullWidth">
        <mat-chip-list #accessChipList>
          <mat-chip color="warn" *ngFor="let access of lesson.access" [selectable]="selectable"
                   [removable]="removable" (remove)="removeAccess(access, i)" >
            {{access}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
           <input placeholder="Lesson access"
               [matChipInputFor]="accessChipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addAccess($event, i)"
               (keyup.comma)="updateTitle(lesson.lessonId)" />

        </mat-chip-list>
      </mat-form-field>
      
      <div *ngFor="let lo of lesson.lessonObjectives; let i = index">
        <mat-form-field class="fullWidth">
          <input matInput type="text" [(ngModel)]="lo.title" (keyup.enter)="updateTitle(lesson.lessonId)" placeholder="Lesson Objective {{i}}" name="lessonObjective">    
        </mat-form-field>
      </div>
      <button mat-raised-button (click)="addObjective(lesson)" color="accent"> Add Objective </button> 
    </mat-card-content>
      
    <mat-card-actions class="buttonContainer">
      <h4>Other</h4>
      <button mat-raised-button (click)="updateTitle(lesson.lessonId)" > Update </button> 
      <button mat-raised-button routerLink="/lesson-presenter/{{lesson.lessonId}}" color="primary">View Lesson</button>
      <button mat-raised-button routerLink="/poll-editor/na/{{lesson.lessonId}}" color="accent">Add Poll</button>
<!--      <button mat-raised-button routerLink="/chat-editor/na/{{lesson.lessonId}}" color="accent">Add Chat</button>-->
      <button mat-raised-button routerLink="/questionnaire-editor/na/{{lesson.lessonId}}" color="accent">Add Questionair</button>
      <button mat-raised-button (click)="deleteLesson(lesson.lessonId)" color="warn">Delete Lesson</button>
    </mat-card-actions>
    </div>
  </mat-card>
  

</div>