<div class="cardContainer">
  <mat-card class="one">
    <mat-card-header>
      <mat-card-title>Design</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Preper a lesson 
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="one">
    <mat-card-header>
      <mat-card-title>Present</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Present a lesson 
      </p>
    </mat-card-content>
  </mat-card>


  <mat-card class="one">
    <mat-card-header>
      <mat-card-title>Review</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Review a lesson 
      </p>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="two">
    <mat-card-header>
      <mat-card-title>New Lesson</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Create a lesson and add polls, quizs and game
      </p>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="two">
    <mat-card-header>
      <mat-card-title>Edit lesson</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h4>Lessons:</h4>
      <p>Lesson 1 </p>
      <p>Lesson 2 </p>
      <p>Lesson 3 </p>
    </mat-card-content>
  </mat-card>
  
</div>