mat-card {
  width: 20%;
  min-width: 15em;
  height: 50vh;
  margin: 1em;
}

.cardContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

